//-footer mixins
mixin footerA(text)
	a(href="#").link-f #{text}
mixin footerb(text)
	a != #{text}
	li.footer-dop-item
		a(href="#") #{text}
mixin footerNum(num, text)
	a(href="tel:3333").footer-tel-item
		.text-bold #{num}
		span.footer-tel-text #{text}
//- header mixins
//- main-mixins
mixin card(img, title, type)
	.card-item-wrap
		a.card-item(href="#", style='background-image:url(img/cards/'+img+')')
			.card-item-content
				.title.h4 #{title}
				if block
					block
			.card-item-type 
				.small-block 
					span #{type}