//-footer mixins
mixin footerA(text)
	a(href="#").link-f #{text}
mixin footerb(text)
	a != #{text}
	li.footer-dop-item
		a(href="#") #{text}
mixin footerNum(num, text)
	a(href="tel:3333").footer-tel-item
		.text-bold #{num}
		span.footer-tel-text #{text}
//- header mixins
//- main-mixins
mixin card(img, title, type)
	.card-item-wrap
		a.card-item(href="#", style='background-image:url(img/cards/'+img+')')
			.card-item-content
				.title.h4 #{title}
				if block
					block
			.card-item-type 
				.small-block 
					span #{type}
mixin romb(img, text)
	a(href="#").romb-item-item
		.romb-item-wrap
			.romb-item-middle
				.romb-item-inner
					img(src="img/romb/"+img+"", alt="")
		.romb-item-text.title.h4 #{text}
mixin news(text, date,img, type)
	article.news-item
		a(href="#").news-item-inner
			.news-image
				if img != ''
					img(src="img/news/"+img+"", alt="")
				if type
					.news-type
						.small-block.small
							span #{type}
			.news-content
				date.text2 #{date}
				h2.title.h4 #{text}
mixin partner(img)
	.partner-item
		.partner-item-inner
			img(src="img/partner/"+img+"", alt="partner")
mixin doctors(args,num)
	.doc-block
		- var n = 0;
		while n < args
			- n = ++n;
			.doc-item(style='background-image:url(img/bg/v'+n+'.png)')
		if num != ''
			.doc-item.more #{num}
mixin docCard(img,name, who)
	.doc-card-wrap
		a(href="#").doc-card-inner
			.doc-card-text
				.title.h4 #{name}
				.text2 #{who}
				.link-arr
					svg(class="icon icon-drop")
						use(xlink:href="#link-arr" xmlns:xlink="http://www.w3.org/1999/xlink")
			.doc-card-img
				img(src="img/bg/v"+img+".png", alt="vrtach")
mixin listlist(id,name,img)
	.feachure-list-item(id=id)
		.feachure-list-item-inner
			if img != ""
				.doc-card-inner(style='background-image:url(img/list/'+img+'.png);')
					.doc-card-text
						a(href="#").title.h2.link #{name}
							.link-arr
								svg(class="icon icon-drop")
									use(xlink:href="#link-arr" xmlns:xlink="http://www.w3.org/1999/xlink")
				.feachure-list-content
					if block
						block
			else
				.doc-card-inner
					.doc-card-text
						a(href="#").title.h2.link #{name}
							.link-arr
								svg(class="icon icon-drop")
									use(xlink:href="#link-arr" xmlns:xlink="http://www.w3.org/1999/xlink")
				.feachure-list-content
					if block
						block

mixin phoneform
	form(action="").tel-form.js-validate
		.tel-form-text
			.text-bold Не нашли что искали?
			.text-bold.small Оставьте свой номер и мы перезвоним
		.tel-form-form
			input(type="tel", placeholder = '+7 (495) 212 92 99',data-validation="custom",data-validation-regexp="^[-0-9()+ ]+$",data-validation-error-msg="Неверный номер").tel-form-inp
			button(type='submit',value='Отправить').btn.tel-form-btn
				span Отправить
mixin person(name,text,img)
	.persona-item
		.persona-item-img
			.persona-item-img-inner
				if img != ''
					img(src="img/content/"+img+".png", alt="4234")
		.persona-item-text
			.title.h4 #{name}
			.text2 #{text}
mixin partner2(img, name,link,text)
	.partner-block
		a(href="#").partner-block-inner
			.partner-block-img
				img(src="img/partner/"+img+".png", alt="5345")
			.partner-block-content
				.title.h4 #{name}
				.partner-block-link
					span #{link}
				.text2 #{text}
mixin vacancy(name)
	.vacancy-head.js-accordion-trigger
		.vacancy-head-inner.table-item
			.title.h4 #{name}
			.table-arr  
				i.select-img
		.vacancy-body.js-accordion-body
			b Должностные обязанности
			ul
				li Проведение диагностики кожи головы и волос
				li Постановка предварительного диагноза и назначение индивидуального плана лечения с учетом диагностических и лабораторный особенностей
				li Проведение мезотерапии и плазмолифтинга кожи головы
				li Физиотерапевтические и аппаратные методы лечения кожи головы
			b Требования:
			ul
				li Высшее медицинское образование, диплом, действующий сертификат
				li Умение вести переговоры с клиентом
				li Презентабельный внешний вид
				li Умение работать в многозадачности и в команде
				li Умение работать в многозадачности и в команде
			b Условия:
			ul
				li Высшее медицинское образование, диплом, действующий сертификат
				li Умение вести переговоры с клиентом
				li Презентабельный внешний вид
				li Умение работать в многозадачности и в команде
				li Умение работать в многозадачности и в командека заработной платы, все зависит только от Вас!
			blockquote 
				b По вопросам трудоустройства обращаться к начальнику отдела кадров:
				p Кириллиной Татьяне Вячеславовне
					br 
					| 
					a(href="#").text2 +7 (495) 212-06-64 &nbsp;&nbsp;&nbsp;
					a(href="#")  kirillina@institut-krasoty.ru
mixin priceAccordeon(name,price,promo)
	
	.vacancy-head.js-accordion-trigger(class={sale : promo === 1})
		.vacancy-head-inner.table-item
			.table-arr  
				i.select-img
			.title.text2 
				span #{name}
					if promo == 1
						.small-block.small(data-href="promo.html",data-modal='road').js-popup-button.ajax-trigger
							span Акция
				.text-bold #{price}
		.vacancy-body.js-accordion-body
			ul.feachure-list-list
				if block
					block
